@charset "utf-8";
/* 顶部固定栏开始 */
body {
    font-family: STHeiti, "Microsoft yahei", "微软雅黑", sans, tahoma;
    background: #eee;
}
.top {
    background:#d43f3a;
}

.top-title span,.top-left a,.top-right a {
    color: #eee !important;
}
.top-title {
    font-size: 20px;
}
.top-left {
    font-size: 15px;
    padding-left: 15px;
}
.top-right {
    font-size: 10px;
}
li:visited {
    color:yellow;
    background:blue;
}

/* 顶部固定栏结束 */
/* 中间主体布局开始 */
.section {
}

.pub-topic {
    color: #555;
    font-size: 10px;
}

i.topic-icon {
    font-size: 25px;
    display: block;
    text-align: center
}

.pub-topic a.active {
    border-bottom: 1px solid #d43f3a;
    color: #d43f3a;
}
.main-left {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
}
.main-right {
    padding-left: 10px;
    padding-right: 0px;
    background: #eee;
}
.list-unstyled {
    padding-left: 15px;
    padding-right: 15px;
}
.nav-tabs {
    padding-left: 15px;
    padding-right: 15px;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #d43f3a;
}
.navbar {
    margin-bottom: 0;
}
a {
    color: #333;
}

/* 中间主体布局结束 */
/* 用户信息栏开始 */
.u-bar {
    width: 100%;
    height: 70px;
    padding-top: 10px;
}
.u-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.u-name {
    margin-top: 15px;
    margin-left: 10px;
}
.pub-time {
    margin-top: 15px;
}
/* 用户信息栏结束 */
/* 用户发布内容布局开始 */
.cont {
    margin: 0;
}

.c-text {
    line-height: 25px;
    font-size: 15px;
    margin: 0 10px;
}
.content-img {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 10px;
}
/* 用户发布内容布局结束 */
.tool-bar {
    float:left;
    width: 100%;
}

div.publish {
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #e8e8e8;
    padding: 4px;
    overflow: hidden;
}

div.publish a {
    background: #d43f3a;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #cccccc;
    padding: 20px;
}

.show_pic {
    margin: 20px 20px 0px 20px;
    border: 1px solid #ddd;
    /*text-align: left;*/
}

.select_pic {
    margin: 20px;
}

/*动态点赞开始*/
.praise-1 {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 2px 10px 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.praise-2 {
    display: inline;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.praise-txt {
    float: left;
    font-size: 10px;
    color: #d5d5d5;
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin: 13px 0px 0px 0px;
}
.praise-1 img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.praise-1 img.animation {
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;
    /* Firefox */
    -webkit-animation: myfirst 0.5s;
    /* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;
    /* Opera */
}
.add-num-praise {
    display: none;
}
.add-num-praise .add-animation {
    color: #000;
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    animation: mypraise 0.5s;
    -moz-animation: mypraise 0.5s;
    /* Firefox */
    -webkit-animation: mypraise 0.5s;
    /* Safari 和 Chrome */
    -o-animation: mypraise 0.5s;
    /* Opera */
    font-style: normal;
}
.praise-1 .hover,
.add-num-praise .add-animation.hover,
.praise-txt.hover {
    color: #EB4F38;
}
/*点赞图标放大动画开始*/
@keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-moz-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-webkit-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-o-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
/*点赞图标放大动画结束*/
/*点赞数量加减动画开始*/
@keyframes mypraise {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-moz-keyframes mypraise {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-webkit-keyframes mypraise {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-o-keyframes mypraise {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
/*点赞数量加减动画结束*/
/*动态赞结束*/
/*动态踩开始*/
.tread-1 {
    float: left;
    width: 20px;
    height: 20px;
    margin: 15px 2px 10px 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.tread-2 {
    display: inline;
    width: 30px;
    height: 20px;
    margin: 0 auto;
}
.tread-txt {
    float: left;
    color: #d5d5d5;
    font-size: 10px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    margin: 13px 0px 0px 0px;
}
.tread-1 img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.tread-1 img.animation {
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;
    /* Firefox */
    -webkit-animation: myfirst 0.5s;
    /* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;
    /* Opera */
}
.add-num-tread {
    display: none;
}
.add-num-tread .add-animation {
    color: #000;
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    animation: mypraise 0.5s;
    -moz-animation: mypraise 0.5s;
    /* Firefox */
    -webkit-animation: mypraise 0.5s;
    /* Safari 和 Chrome */
    -o-animation: mypraise 0.5s;
    /* Opera */
    font-style: normal;
}
.tread-1 .hover,
.add-num-tread .add-animation.hover,
.tread-txt.hover {
    color: #EB4F38;
}
/*点踩图标放大动画开始*/
@keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-moz-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-webkit-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
@-o-keyframes myfirst {
    0% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}
/*点踩图标放大动画结束*/
/*点踩数量加减动画开始*/
@keyframes mytread {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-moz-keyframes mytread {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-webkit-keyframes mytread {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
@-o-keyframes mytread {
    0% {
        top: -15px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
    25% {
        top: -20px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    50% {
        top: -25px;
        opacity: 1;
        filter: alpha(opacity=100);
        -moz-opacity: 1;
    }
    75% {
        top: -30px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
    }
    100% {
        top: -35px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
    }
}
/*点踩数量加减动画结束*/
/*动态踩结束*/

.footer {
    padding: 8px 0 5px 0;
    margin-top: 20px;
    border-top: 1px #d5d5d5 solid;
    text-align: center;
    color: #ABABAB;
    height: 35px;
    line-height: 35px;
}

/*小屏幕（平板）*/
@media (min-width:768px){
    .content {
        margin: 0 20px;
    }
    .content .content-text {
        margin: 0 20px;
    }
    .navbar {
        margin-bottom: 20px;
    }
}
/*中等屏幕（桌面显示器）*/
@media (min-width:992px){
    .content {
        margin: 0 30px;
    }
    .navbar {
        margin-bottom: 20px;
    }
}
/*大屏幕（大桌面显示器）*/
@media (min-width:1200px){
    .content {
        margin: 0 40px;
    }
    .navbar {
        margin-bottom: 20px;
    }
}