<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录-欢笑江湖</title>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="bookmark" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}manager/css/reset.css"/>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}manager/css/common.css"/>
</head>
<body>
<div class="wrap login_wrap">
    <div class="cont">
        <div class="logo"></div>
        <div class="login_box">
            <div class="login_form">
                <div class="login_title">
                    登录
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form_text_error">{{ error }}</div>
                    {% for field in form %}
                        <div class="form_text_ipt">
                            {{ field }}
                        </div>
                        {#                        <div class="ececk_warning"><span>数据不能为空</span></div>#}
                    {% endfor %}
                    {#							<div class="form_text_ipt">#}
                    {#								<input name="username" style="background-color: #1b6d85" type="text" placeholder="手机号/邮箱">#}
                    {#							</div>#}
                    {#							<div class="ececk_warning"><span>数据不能为空</span></div>#}
                    {#							<div class="form_text_ipt">#}
                    {#								<input name="password" type="password" placeholder="密码">#}
                    {#							</div>#}
                    {#							<div class="ececk_warning"><span>数据不能为空</span></div>#}
                    <div class="form_check_ipt">
                        <div class="left check_left">
                            <label><input name="" style="box-shadow: none" type="checkbox"> 下次自动登录</label>
                        </div>
                        <div class="right check_right">
                            <a href="#">忘记密码</a>
                        </div>
                    </div>
                    <input type="submit" class="form_btn" value="登录">
                    {#							<div class="form_btn">#}
                    {#								<button type="button">登录</button>#}
                    {#							</div>#}
                    <div class="form_reg_btn">
                        <span>还没有帐号？</span><a href="/manager/register">马上注册</a>
                    </div>
                </form>
                <div class="other_login">
                    <div class="left other_left">
                        <span>其它登录方式</span>
                    </div>
                    <div class="right other_right">
                        <a href="#">QQ登录</a>
                        <a href="#">微信登录</a>
                        <a href="#">微博登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ STATIC_PREFIX }}manager/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}manager/js/common.js"></script>
</body>
</html>
