<!DOCTYPE html>
<html>
<head>
    <meta name="baidu-site-verification" content="8jc700Jc3K"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="keywords" content="幽默，搞笑，知识，内涵，段子">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>发布段子-欢笑江湖</title>
    <meta charset="utf-8">
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="bookmark" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}focus/css/common.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}focus/css/reset.css">
</head>
<body>
<!-- 顶部 -->
<div class="navbar navbar-default navbar-static-top top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand top-title" href="/"><span>欢笑江湖</span></a>
            <button type="button" class="navbar-toggle user-btn" data-toggle="collapse"
                    data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div>
            <ul class="nav navbar-nav top-left">
                <li style="float:left">
                    <a href="/">全部</a>
                </li>
                {#                <li style="float:left">#}
                {#                    <a href="/video">视频</a>#}
                {#                </li>#}
                <li style="float:left">
                    <a href="/pic">图片</a>
                </li>
                <li style="float:left">
                    <a href="/jape">段子</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right pull-right top-right">
                {% if user.is_authenticated %}
                    <li>
                        <a class="login-name" href="/user/focus/publish">
                            <span class="glyphicon glyphicon-user"></span> {{ request.user }}
                        </a>
                    </li>
                    <li>
                        <a href="/manager/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/manager/login"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
                    </li>
                    <li>
                        <a href="/manager/register"><span class="glyphicon glyphicon-user"></span> 注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- 中间 -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- 分页内容 -->
            <div class="col-sm-offset-1 col-sm-7 main-left">
                <ul class="nav nav-justified pub-topic hidden-xs">
                    <li style="border-bottom: 1px solid #eee;border-right: 1px solid #eee;">
                        <a href="/user/publish/pic">
                            <i class="fa fa-picture-o topic-icon"></i>
                            <span>图片</span>
                        </a>
                    </li>
                    <li style="border-bottom: 1px solid #eee">
                        <a class="active" href="/user/publish/jape">
                            <i class="fa fa-file-text-o topic-icon"></i>
                            <span>段子</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav pub-topic hidden-sm hidden-md hidden-lg" style="margin-left:20px">
                    <li>
                        <a href="/user/publish/pic" style="float: left">
                            <i class="fa fa-picture-o topic-icon"></i>
                            <span>图片</span>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="/user/publish/jape" style="float: left">
                            <i class="fa fa-file-text-o topic-icon"></i>
                            <span>段子</span>
                        </a>
                    </li>
                </ul>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="add-text"><textarea class="text-area" placeholder="说点什么..." name="text_area"
                                                    rows="5"></textarea></div>
                    <input type="submit" class="pub-trig" value="发布">
                </form>
            </div>
            <!-- 右侧边栏 -->
            <div class="col-sm-3 hidden-xs main-right">
                <img src="{{ STATIC_PREFIX }}focus/images/test_img1.jpg" alt="图片无法显示" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<div class="footer hidden-xs">
    <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
    <p>Copyright &copy; Example.com 2016 </p>
</div>

<script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}focus/js/locales/zh.js"></script>
</body>
</html>