<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta name="keywords" content="幽默，搞笑，知识，内涵，段子">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>用户中心-欢笑江湖</title>
    <meta charset="utf-8">
    {#        {% load staticfiles %}#}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="bookmark" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}focus/images/favicon.ico"
          mce_href="{{ STATIC_PREFIX }}focus/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}focus/css/common.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}focus/css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}focus/css/pagination.css">
    <style type="text/css">
        table {
            margin: 0 auto;
            border-collapse: collapse;
        }

        table td {
            padding: 2px;
        }
    </style>
</head>
<body>
<!-- 顶部 -->
<div class="navbar navbar-default navbar-static-top top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand top-title" href="/"><span>欢笑江湖</span></a>
            <button type="button" class="navbar-toggle user-btn" data-toggle="collapse"
                    data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div>
            <ul class="nav navbar-nav top-left">
                <li style="float:left">
                    <a href="/">全部</a>
                </li>
                {#                <li style="float:left">#}
                {#                    <a href="/video">视频</a>#}
                {#                </li>#}
                <li style="float:left">
                    <a href="/pic">图片</a>
                </li>
                <li style="float:left">
                    <a href="/jape">段子</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right pull-right top-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="login-name" href="/user/focus/publish">
                            <span class="glyphicon glyphicon-user"></span> {{ request.user }}</a>
                    </li>
                    <li>
                        <a href="/manager/logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/manager/login"><span class="glyphicon glyphicon-log-in"></span> 登陆</a>
                    </li>
                    <li>
                        <a href="/manager/register"><span class="glyphicon glyphicon-user"></span> 注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- 中间 -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="hidden-sm hidden-md hidden-lg main-left-s">
                <table border="0">
                    <tr>
                        <td align="left" style="width: 80px ">
                            <div class="person-info">
                                <span>
                                    <a href="/manager/setting">
                                        <img src="{{ user.avatar.url }}" alt="头像无法显示" class="info-avatar">
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td align="left" style="width: 160px;padding-top: 8px">
                            <div class="info-name-s">{{ user.username }}</div>
                            <div class="tips-name-s">{{ user.username }}</div>
                            <div class="info-score-s">积分：0</div>
                            <div class="info-signature-s">{{ user.profile }}</div>
                            <div class="tips-signature-s">{{ user.profile }}</div>
                        </td>
                        <td align="left" style="width: 40px">
                            <div class="publish-s">
                                <a href="/user/publish/pic" style="color: #FFFFFF">
                                    <span class="glyphicon glyphicon-edit" style="top:2px;"></span>
                                    <span>发帖</span>
                                </a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            {#                    <div class="col-sm-1 col-md-1 col-lg-1"></div>#}
            <!-- 分页内容 -->
            <div class="col-sm-offset-1 col-sm-7 main-left">
                <!-- 排序标签 -->
                <div>
                    <ul class="nav nav-justified hidden-xs">
                        <li style="border-bottom: 1px solid #eee;border-right: 1px solid #eee;">
                            <a href="/user/focus/publish">发表</a>
                        </li>
                        <li style="border-bottom: 1px solid #eee;border-right: 1px solid #eee;">
                            <a href="/user/focus/share">分享</a>
                        </li>
                        <li class="active" style="border-bottom: 1px solid #eee">
                            <a href="/user/focus/comment">评论</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs hidden-sm hidden-md hidden-lg">
                        <li style="border-bottom: 1px solid #eee;">
                            <a href="/user/focus/publish">发表</a>
                        </li>
                        <li style="border-bottom: 1px solid #eee;">
                            <a href="/user/focus/share">分享</a>
                        </li>
                        <li class="active" style="border-bottom: 1px solid #eee">
                            <a href="/user/focus/comment">评论</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="list-unstyled">
                        {% for comment in comment_list %}
                            <li class="nav" style="border-bottom: 1px solid #d5d5d5;">
                                <!-- 基本信息 -->
                                <div class="u-bar" data-id="{{ note.id }}">
                                    {#                                    <span class="pull-left note-info glyphicon glyphicon-remove"></span>#}
                                    <span class="pull-left pub-time"> {{ comment.pub_date|date:"Y-m-d H:i:s" }}</span>
                                    <div class="pull-right">
                                        <div class="tool-bar" style="width: auto">
                                            <div class="praise-1">
                                                <span class="praise-2">
                                                    <img src="{{ STATIC_PREFIX }}focus/images/zan.png"
                                                         class="praise-img">
                                                </span>
                                            </div>
                                            <span class="praise-txt">{{ comment.note.praise_str }}</span>
                                            <span class="add-num-praise">
                                                <em>+1</em>
                                            </span>
                                            <div class="tread-1">
                                                <span class="tread-2">
                                                    <img src="{{ STATIC_PREFIX }}focus/images/cai.png"
                                                         class="tread-img">
                                                </span>
                                            </div>
                                            <span class="tread-txt">{{ comment.note.tread_str }}</span>
                                            <span class="add-num-tread">
                                                <em>+1</em>
                                            </span>
                                        </div>
                                        <span>
                                            {% if user.is_authenticated %}
                                                <a href="/detail_{{ comment.note.id }}"></a>
                                            {% else %}
                                                <a href="/manager/login?url=/detail_{{ comment.note.id }}"></a>
                                            {% endif %}
                                            <span class="glyphicon glyphicon-comment comment-img"></span>
                                            <span class="comment-txt">{{ comment.note.comment_str }}</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- 发布内容 -->
                                <div class="cont">
                                    <a href="/detail_{{ comment.note.id }}">
                                        {% if comment.note.text %}
                                            <div class="c-text">{{ comment.note.text }}</div>
                                        {% endif %}
                                        {% if comment.note.image %}
                                            <div class="content-img">
                                                <img src="{{ comment.note.image.url }}" alt="图片无法显示"
                                                     class="img-responsive center-block" width="100%">
                                            </div>
                                        {% endif %}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="nav">
                    <!-- 分页导航 -->
                    <div class="pages">
                        <div id="Pagination"></div>
                    </div>
                </div>
            </div>
            <!-- 右侧边栏 -->
            <div class="col-sm-3 hidden-xs main-right">
                <div class="person-info">
                    <span>
                        <a href="/manager/setting">
                            <img src="{{ user.avatar.url }}" alt="头像无法显示" class="info-avatar">
                        </a>
                    </span>
                    <span class="info-name">{{ user.username }}</span>
                    <div class="tips-name">{{ user.username }}</div>
                    <span class="info-score">积分：0</span>
                    <span class="info-signature">{{ user.profile }}</span>
                    <div class="tips-signature">{{ user.profile }}</div>
                </div>
                <div class="publish">
                    <a href="/user/publish/pic">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span style="position: relative;bottom: 3px;">发帖</span>
                    </a>
                </div>
                <img src="{{ STATIC_PREFIX }}focus/images/test_img1.jpg" alt="图片无法显示" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<div class="footer hidden-xs">
    <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
    <p>Copyright &copy; Example.com 2016 </p>
</div>

<script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}focus/js/jquery.pagination.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}focus/js/js-common.js"></script>
<script type="text/javascript">
    // 分页导航配置
    var iPageSize = 5; // 设置每页显示帖子条数
    // When document is ready, initialize pagination
    $(document).ready(function () {
        var page_id = {{ page_id }};
        var rows = {{ rows }};
        $("#Pagination").pagination(rows, {
            current_page: page_id - 1,
            num_edge_entries: 1, //边缘页数
            num_display_entries: 3,//parseInt(rows / iPageSize), // 分页主体部分显示的分页条目数
            //callback: pageselectCallbackack,
            items_per_page: iPageSize, //每页显示几项
            show_if_single_page: true,
            load_first_page: true
        });
    });

    // 发帖登录验证
    $(".publish a").click(function () {
        {% if not user.is_authenticated %}
            $(this).attr('href', '/manager/login?url=/user/publish/video');
        {% endif %}
    });

</script>
</body>
</html>